
<!-- <app-loader *ngIf="loading"></app-loader> -->
<main class="products padding-y-5">
  <div class="container">
    <div class="row_grid no-gutters">
      <div class="col-12">
        <div class="breadcrumb">
          <ol>
            <li>
              <a [routerLink]="['/' ]">Home</a>
            </li>
            <li>
              <a routerLink="/">Products</a>
            </li>
            <li >
              <a class="disabled">{{categorySelected}}</a>
            </li>

          </ol>
        </div>
      </div>
      <div class="col-3">
        <div class="products__form--filter">
          <h4 class="products__h4">Products</h4>
          <div class="products__form" >
            <div class="form-check" *ngFor="let category of categories">

              <input (change)="onChange($event)"  class="form-check-input" name="category" type="radio" id="{{category.name}}" value="{{category.name}}">
              <label class="form-check-label" for="{{category.name}}">{{category.name}} ({{category.count}})</label>
            </div>

          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row_grid ">
          <div class="col-12">
            <div class="row_grid no-gutters products__filtered">
              <div class="col-3">
                <p class="products__filtered--found">({{filteredLimit}}) Products Found</p>
              </div>
              <div class="col-3">
                <p class="products__filtered--sort"><span>Sort By:</span> Popularity</p>

              </div>
            </div>
          </div>
          <div class="col-4" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: page }">
            <div class="products__card">
              <div class="image__container">
                <img [src]="product.images[0]" alt="" class="products__card--img">
                <span class="products__card--img-badge">{{product.discountPercentage}} %</span>
              </div>
              <div class="products__card--body">
                <h4 class="products__card--h4" [title]="product.title">{{product.title}}</h4>
                <p class="products__card--p" [title]="product.description">{{product.description}}</p>
                <div class="products__card--dflex">
                  <div class="products__card--price" *ngIf="product.discountPercentage"> <s><span>{{product.price}}</span> USD</s></div>
                  <div class="products__card--price"> <span>{{ product.price - ((product.price * product.discountPercentage) / 100) | number: '1.0-0'}}</span> USD</div>
                </div>
                <div class="products__card--category">Brand: <span>{{product.brand}}</span></div>
                <div class="products__card--category">Category: <span>{{product.category}}</span></div>
                <div class="products__card--category">In stock: <span>{{product.stock}}</span></div>
                <form [formGroup]="addToCart" (ngSubmit)="onSubmit(addToCart , product.id)">
                  <input type="text" class="form__input"  formControlName="quantity" placeholder="Quantity">
                  <button type="submit" class="products__card--btn" [disabled]="!addToCart.valid">ADD TO CART</button>
                </form>
              </div>
            </div>

          </div>
        </div>
        <pagination-controls  [nextLabel]="''" [previousLabel]="''" (pageChange)="page = $event"></pagination-controls>

      </div>
    </div>
  </div>
</main>
<div *ngIf="successAddToCart" class="toast toast-success">
  <h4 class="toast-heading">Success</h4>
  <p>{{successAddToCart}}</p>
  <a class="close" (click)="closeToastr()">&times;</a>
</div>
<section class="loader" *ngIf="loading">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
